.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none;
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
}
