.book {
	padding: 2.5rem 0rem 0rem 0rem;
	&__title {
		margin: 0rem 0rem 1.5rem 0rem;
	}

	&__wrapper {
		display: grid;
		grid-template: auto / repeat(auto-fit, minmax(50%, 1fr));
		align-items: center;
		@media (max-width: 1415px) {
			grid-template: auto / 100%;
		}
	}
	&__img {
		@media (max-width: 1415px) {
			width: 80%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		@media (max-width: $md4 + px) {
			width: 100%;
		}
	}
}

.form-book {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	padding: 2rem;
	border-radius: 0.7rem;

	label,
	input,
	button {
		display: block;
	}
	input,
	button {
		font-size: 100%;
		height: 4rem;
		@media (max-width: 1600px) {
			height: 3rem;
		}
		@media (min-width: 2000px) {
			height: 5rem;
			font-size: 1.8rem;
		}
	}
	input {
		width: 100%;
		padding: 0rem 0.7rem;
		margin: 0rem 0rem 1.2rem 0rem;
		border-radius: 0.2rem;
		color: #333;
		text-transform: lowercase;
		border: 2px solid #e7e3e3;
		background: transparent;
		&::placeholder {
			color: #939393;
		}
		&[type="date"] {
			color: #939393;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:focus {
			box-shadow: 0 0 1rem 0 $mainColor;
			border: none;
		}
		@media (min-width: 2000px) {
			&:not(:last-child) {
				margin: 0rem 0rem 2rem 0rem;
			}
		}
	}
	label {
		color: #737171;
		font-weight: 700;
		font-size: 1.2rem;
		text-transform: capitalize;
		margin: 0rem 0rem 0.6rem 0rem;
		@media (min-width: 2000px) {
			font-size: 1.7rem;
			margin: 0rem 0rem 0.8rem 0rem;
		}
	}
	button {
		padding: 0% 8%;
		line-height: 2.5rem;
	}
	@media (max-width: $md4 + px) {
		padding: 1rem 0.5rem;
		input,
		button {
			height: 2.5rem;
			font-size: 0.9rem;
		}
		label {
			font-size: 1.1rem;
		}
		button {
			width: 100%;
		}
	}
}
